<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Second Hand Boutique</title>
</head>
<body>
<h1>My Second Hand Boutique</h1>
<ul>
    <li><a th:href="@{/employees}">List all employees</a></li>
    <li><a th:href="@{/employees/new}">Create a new employee</a></li>
    <li><a th:href="@{/customers}">List all customers</a></li>
    <li><a th:href="@{/customers/new}">Create a new customer</a></li>
    <li><a th:href="@{/furnitures}">List all furnitures</a></li>
    <li><a th:href="@{/furnitures/new}">Create a new furniture</a></li>
</ul>
</body>
</html>
